bd h4{
 margin-bottom: 15;
}
.d{
  margin-bottom: 15;
}
.container {
  display: flex;
  gap: 40px;
}
.card {
  
  width: 100px;
  padding: 20px;
  margin-bottom: 150;
  border-radius: 30px;
  color: rgba(var(--color), 0.6);
  text-align: center;
  display: flex;
  flex-direction: column; /* Вертикальное расположение элементов */
  position: relative;
}
cardi {
  min-height: 50vh;
  background: rgba(var(--bg), 0.9);
  display: flex;
  justify-content: center;

  box-sizing: border-box;
  font-family: Roboto;
}
div1 {
  align-items: center;
  display: flex;
  justify-content: center;
}